<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.min.js"></script>
	<script src="js/angular.min.js"></script>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <title>Index</title>
</head>
<body class="mx-auto" style="width: 1800px; margin-top: 1px; padding: 20px">
    <div ng-app="myApp" ng-controller="myCtrl">
		<table class="table">
				<tr>
					<th>
						<h1>&emsp;&emsp;&emsp;倉庫管理</h1>
						<div class="btn-group">
			    			<button class="btn btn-outline-primary" onclick="openhome('home')">首頁</button>
    						<button class="btn btn-outline-primary" onclick="openhome('findonly')">個別查詢</button>
    					</div>
					</th>
					<th>
						<h1>{{thedaytime}}</h1>
					</th>
				</tr>
			<tr>
				<th>
				<div id="home" class="page">
					<div><h4>新增產品資料</h4></div>
					
					<div class="form-floating mb-3">
						<input class="form-control" type="text" ng-model="form.number" placeholder="產品編號" size="10%">
						<label>產品編號</label>
					</div>
					<div class="form-floating mb-3">
						<input class="form-control" type="text" ng-model="form.name" placeholder="產品名稱" size="10%" />
						<label>產品名稱</label>
					</div>
					<div class="form-floating mb-3">
						<input class="form-control" type="text" ng-model="form.count" placeholder="產品數量" size="10%" />
						<label>產品數量</label>
					</div>
					<div class="form-floating mb-3">
						<input class="form-control" type="text" ng-model="form.price" placeholder="產品數量" size="10%"/>
						<label>產品價錢</label>
					</div>
					<div class="form-floating mb-3">
						<input class="form-control" id="day" type="Date" placeholder="日期" size="10%" />
						<label>日期</label>
					</div>
					<div class="md-form">
						<label>產品規格</label>
						<textarea class="md-textarea form-control" rows="3" ng-model="form.text" placeholder="按Enter換行" style="width:150px"></textarea>
					</div>
					<p></p>
					<button class="btn btn-primary" ng-click="btn()" type="button">點擊送出</button>
					<p></p>
					<div><h4>{{showMe}}</h4></div>
					<h5>{{nameText}}{{form.namebuyAndsell}}</h5>
					<h5>{{countText}}{{form.countbuyAndsell}}</h5>
					<div class="form-floating mb-3">
						<input class="form-control" type="text" ng-model="form.num" placeholder="數量" size="10%" />
						<label>產品數量</label>
					</div>
					<button class="btn btn-primary" ng-click="btnnum()" type="button">點擊送出</button>
				</div>				
				
				<div id="findonly" class=" page" style="display:none">
					<div><h4>查詢個別產品資料</h4></div>
					<div class="form-floating mb-3">
						<input class="form-control" type="text" ng-model="form.findnumber" placeholder="產品編號" size="10%" />
						<label>產品編號</label>
					</div>
					<button class="btn btn-primary" ng-click="btnfind()" type="button">點擊查詢個別產品</button>
					<button class="btn btn-primary" ng-click="btnfindall()" type="button">查詢全部資料</button>
				</div>
				</th>
				<td>
					<!-- table -->
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead class="table-light">
								<tr>
									<th>修改 / 刪除 / 補貨 / 賣出 功能</th>
									<th ng-click="orderByMe('day')">新增產品日期</th>
									<th ng-click="orderByMe('number')">產品編號</th>
									<th ng-click="orderByMe('name')">產品名稱</th>
									<th>規格</th>
									<th colspan="2" ng-click="orderByMe('count')">庫存</th>
									<th colspan="2" ng-click="orderByMe('price')">產品價格</th>
									<th colspan="2" ng-click="orderByMe('totalprice')">總金額</th>
									<th ng-click="orderByMe('buyday')">補貨時間</th>
									<th ng-click="orderByMe('sellday')">賣出時間</th>							
								</tr>
							</thead>
							<tbody>
							<tr ng-repeat="x in names|orderBy:myOrderBy">
								<td>
									<button class="btn btn-primary" ng-click="edit(x)">修改</button>
									<button class="btn btn-primary" ng-click="del(x)">刪除</button>
									<button class="btn btn-primary" ng-click="buy(x)">補貨</button>
									<button class="btn btn-primary" ng-click="sell(x)">賣出</button>
								</td>
								<td>{{x.day}}</td>
								<td>{{x.number}}</td>
								<td>{{x.name}}</td>
								<td style="width:150px">{{x.text}}</td>
								<td>{{x.count}}</td>
								<td>{{"數量"}}</td>
								<td>{{x.price}}</td>
								<td>{{"$"}}</td>
								<td>{{x.totalprice}}</td>
								<td>{{"總金額"}}</td>
								<td>{{x.buyday}}</td>
								<td>{{x.sellday}}</td>
							</tr>
							</tbody>
						</table>
					</div>
					<!-- table -->
				</td>
			</tr>
		</table>


	</div>
	<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope, $interval, $http) {
		$scope.thedaytime = new Date().toLocaleString();
		$interval(function() {
			$scope.thedaytime = new Date().toLocaleString();
		}, 1000);
		$scope.names = [];
		$scope.form = {
			number: "",
			name: "",
			count: "",
			price: "",
			text:""
		};
		$scope.edit = function(x) {
			$scope.form.number = x.number;
			$scope.form.name = x.name;
			$scope.form.count = x.count;
			$scope.form.price = x.price;
			$scope.form.text = x.text;
		};

		$scope.orderByMe = function(x) {
			$scope.myOrderBy = x;
		}
		
		$scope.showMe = "補貨或賣出";
	    $scope.buy = (x) => {
	                $scope.showMe = "產品補貨";
	                $scope.nameText = "名稱 : ";
	                $scope.form.namebuyAndsell = x.name;
	                setTimeout(() => {
	     	           $scope.countText = "庫存 : ";
	     	           $scope.form.countbuyAndsell = x.count;
	    			}, 500);
	                $scope.form.tempname = x.number;
	            }
		$scope.sell = (x) => {
	                $scope.showMe = "產品賣出";
	                $scope.nameText = "名稱 : ";
	                $scope.form.namebuyAndsell = x.name;
	                setTimeout(() => {
		                $scope.countText = "庫存 : ";
		                $scope.form.countbuyAndsell = x.count;
	                }, 500);
	                $scope.form.tempname = x.number;
	            }
		$http.get('projects').then(function(response){
			$scope.names = response.data;
		});
		$scope.btn =()=>{
			let day = $('#day').val();
			if ($scope.form.number != "" && $scope.form.name != "" && $scope.form.count != "" && $scope.form.price != "") {
				$.post("save",{number:$scope.form.number,name:$scope.form.name,count:$scope.form.count,price:$scope.form.price,day:day,text:$scope.form.text});
			}
			setTimeout(() => {
				document.location.reload();
			}, 500);
		}

		$scope.btnfind=()=>{
			if ($scope.form.findnumber != "") {
				$.post("projectonly",{number:$scope.form.findnumber});
				setTimeout(() => {
					$http.get('projectonly').then(function(response){
						$scope.names = response.data;
					});
				},500);
			}
		}
				
		$scope.btnfindall=()=>{
			$http.get('projects').then(function(response){
				$scope.names = response.data;
			});
		}

		$scope.del =(x)=>{
			$.post("delete", { number: x.number});
			setTimeout(() => {
				document.location.reload();
			}, 500);
		}

		$scope.btnnum =()=>{
			if ($scope.form.num != ""||$scope.form.num != null||$scope.form.num > 0) {
				$.post("business",{count:$scope.form.num,trueorfalse:$scope.showMe,tempnumber:$scope.form.tempname,buydaytime:$scope.thedaytime,selldaytime:$scope.thedaytime});				
				setTimeout(() => {
					document.location.reload();
				}, 500);	
			}
		}

		
		
	});

	$(document).ready(function() {
		var time = new Date();
		var day = ("0" + time.getDate()).slice(-2);
		var month = ("0" + (time.getMonth() + 1)).slice(-2);
		var today = time.getFullYear() + "-" + (month) + "-" + (day);
		$('#day').val(today);
	})
	
	function openhome(cName) {
    var i;
    var x = document.getElementsByClassName("page");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(cName).style.display = "block";
  	}

	function myFunction() {
		  location.href = "factory";
	}
  	
	</script>
</body>
</html>